doctype html
html(lang='en')
  head
    include _includes/meta.jade
    title Grid Template for UA Bootstrap
    include _includes/scripts-and-styles.jade
  body
    include _includes/navbar-nav.jade
    mixin mainnav(2)
    .page-title
    .container
      .page-header
        h1 UA Bootstrap grid examples
        p.lead
          | Basic grid layouts to get you familiar with building within the UA Bootstrap grid system.
      h3 Three equal columns
      p
        | Get three equal-width columns 
        strong starting at desktops and scaling to large desktops
        | . On mobile devices, tablets and below, the columns will automatically stack.
      .row.show-grid
        .col-md-4 .col-md-4
        .col-md-4 .col-md-4
        .col-md-4 .col-md-4
      h3 Three unequal columns
      p
        | Get three columns 
        strong starting at desktops and scaling to large desktops
        |  of various widths. Remember, grid columns should add up to twelve for a single horizontal block, more than that, and columns start stacking no matter the viewport.
      .row.show-grid
        .col-md-3 .col-md-3
        .col-md-6 .col-md-6
        .col-md-3 .col-md-3
      h3 Two columns
      p
        | Get two columns 
        strong starting at desktops and scaling to large fesktops
        | .
      .row.show-grid
        .col-md-8 .col-md-8
        .col-md-4 .col-md-4
      h3 Full width, single column
      p No grid classes are necessary for full-width elements.
      hr
      h3 Two columns with two nested columns
      p
        | Per documentation, nesting is easy-just put a row of columns within an existing column. This gives you two columns 
        strong starting at desktops and scaling to large desktops
        | , with another two (equal widths) within the larger column.
      p
        | At mobile device sizes, tablets and down, these columns and their nested columns will stack.
      .row.show-grid
        .col-md-8
          | .col-md-8
          .row
            .col-md-6 .col-md-6
            .col-md-6 .col-md-6
        .col-md-4 .col-md-4
      hr
      h3 Mixed: mobile and desktop
      p
        | The UA Bootstrap 3 grid system has four tiers of classes: xs (phones), sm (tablets), md (desktops), and lg (larger desktops). You can use nearly any combination of these classes to create more dynamic and flexible layouts
      p
        | Each tier of classes tiers up, meaning if you plan on setting the same widths for xs and sm, you only need to specify xs.
      .row
        .col-xs-6.col-md-4 .col-xs-6 .col-md-4
        .col-xs-6.col-md-4 .col-xs-6 .col-md-4
        .col-xs-6.col-md-4 .col-xs-6 .col-md-4
      hr
      h3 Mixed: mobile, tablet, and desktop
      p
      .row
        .col-xs-12.col-sm-6.col-lg-8 .col-xs-12 .col-sm-6 .col-lg-8
        .col-xs-6.col-lg-4 .col-xs-6 .col-lg-4
      .row
        .col-xs-6.col-sm-4 .col-xs-6 .col-sm-4
        .col-xs-6.col-sm-4 .col-xs-6 .col-sm-4
        .col-xs-6.col-sm-4 .col-xs-6 .col-sm-4
      hr
      h3 Column clearing
      p
        a(href='#') Clear Floats
        |  at specific breakpoints to prevent awkard wrapping with uneven content.
      .row
        .col-xs-6.col-sm-3
          | .col-xs-6 .col-sm-3
          br
          |                     Resize your viewport or check it out on your phone for an example.
        .col-xs-6.col-sm-3 .col-xs-6 .col-sm-3
        // Add te extra clearfix for only the required viewport
        div(clss='clearfix visible-xs')
        .col-xs-6.col-sm-3 .col-xs-6 .col-sm-3
        .col-xs-6.col-sm-3 .col-xs-6 .col-sm-3
      hr
      h3 Offset, push, and pull resets
      p Resets offsets, pushes, and pulls at specific breakpoints.
      .row
        .col-sm-5.col-md-6 .colsm-5 .col-md-6
        .col-sm-5.col-sm-offset-2.col-md-6.col-md-offset-0 .col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0
      .row
        .col-sm-6.col-md-5.col-lg-6 .col-sm-6 .col-md-5 .col-lg-6
        .col-sm-6.col-md-5.col-md-offset-2.col-lg-6.col-lg-offset-0 .col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0
    // END OF CONTAINER
    include:marked _includes/footer.md
    include _includes/footer-scripts.jade
